*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #181A1B;
    color: #e6e6e6;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

header div.container{
    padding: 10px 80px;
    max-width: 1660px;
    padding: 0 2%;
    margin:0 auto;
}

header div.logo{
    float: left;
    width: 220px;
    height: 150px;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
}

header div.acessar input[type=submit]{
    margin-top: 50px;
    margin-right: 40px;
    float: right;
    font-size: 16px;
    background-color: #1eacc8;
    color: #e6e6e6;
    height: 5vh;
    width: 11vh;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

section.chamada-1{
    padding: 10px 80px;
    max-width: 1680px;
    padding: 0 2%;
    margin:0 auto;
    margin-top: 60px;
}

section .chamada-1, .chamada-texto{
    float: left;
    margin-top: 90px;
    margin-left: 30px;
    width: 45%;
}

.chamada-texto h2{
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: normal;
}

.chamada-texto p{
    font-size: 18px;
    width: 100%;
    font-weight: normal;
}

section div.chamada-texto input[type=submit]{
    margin-top: 50px;
    margin-right: 40px;
    float: left;
    font-size: 20px;
    background-color: #1eacc8;
    color: white;
    height: 10vh;
    width: 39vh;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

section .chamada-1, .chamada-video{
    float: right;
    width: 45%;
}

section.chamada-2{
    padding: 10px 80px;
    max-width: 1680px;
    padding: 0 2%;
    margin:0 auto;
    margin-top: 110px;
}

section.chamdada-2, .chamada-icon{
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chamada-icon{
    width: 100%;
    margin-bottom: 50px;
}

.chamada-icon-text{
    width: 50%;

}

section.chamada-2 img{
    float: left;
    height: 22vh;
    width: 22vh;

}

section.chamada-2 > h2{
    float: right;
    width: 50%;
}

.chamada-2 h2{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.chamada-2 p{
    font-size: 18px;
    font-weight: normal;
}